*{
	margin: 0;
	padding: 0;
}

.fundo{
	background: linear-gradient(45deg, black, crimson);
	height: 100vh;
	color: whitesmoke;
	font-family: roboto;
	text-align: center;
}

.calculadora{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	padding: 15px;
}

.botao {
	width: 50px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(31, 31, 31);
	border: none;
	color: whitesmoke;
	border-radius: 10px;
	margin: 1px;
}
.botao:hover{
	background-color: black;
}

#resultado{
	background-color: white;
	width: 207px;
	height: 30px;
	margin: 5px;
	border-radius: 5px;
	font-size: 25px;
	color: black;
	text-align: right;
}